              <h3>Confirm Deleting Ad?</h3>
                <div class="row">
                    <div class="col-md-10">
                        Opel Vectra for Sale
                    </div>
                    <div class="col-md-2">
                        12-Jan-2015
                    </div>
                </div>
               <div class="row">
                    <div class="col-md-4">
                        <img style="width: 100%; height: 100%;" ng-src="" />
                        img
                    </div>
                   <div class="col-md-8">
                       <div class="row">
                            <div class="col-md-11">
                                <textarea style="background-color: white;  resize: none;" class="form-control" rows="3"> Opel Vectra, 1.8i, petrol, 2003, 4 doors,manual transmission, taxed until 15/05/2015. Price: 850 EUR.</textarea>
                            </div>
                        </div>
                       <div class="row">
                            <div class="form-group">
                                   <label for="category" class="col-md-2 control-label">Category:</label>
                                   <div class="col-md-9">
                                       <input style="background-color: white; margin: 2px;" class="form-control" id="category" placeholder="category" type="text" ng-model="user.category">
                                   </div>
                            </div>
                       </div>
                       <div class="row">
                            <div class="form-group">
                                   <label for="town" class="col-md-2 control-label">Town:</label>
                                   <div class="col-md-9">
                                       <input style="background-color: white; margin: 2px;" class="form-control" id="town" placeholder="town" type="text" ng-model="user.town">
                                   </div>
                            </div>
                       </div>
                    </div>
                </div>