<div class="container">
    <h5>Register</h5>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="username" class="col-md-3 control-label">Username:</label>
            <div class="col-md-4">
                <input class="form-control" id="username" placeholder="Username" type="text" ng-model="user.username">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-md-3 control-label">Password:</label>
            <div class="col-md-4">
                <input class="form-control" id="password" placeholder="Password" type="password" ng-model="user.password">
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-md-3 control-label">Name:</label>
            <div class="col-md-4">
                <input class="form-control" id="name" placeholder="Name" type="text" ng-model="user.name">
            </div>
        </div>
        <div class="form-group">
            <label for="phone" class="col-md-3 control-label">Phone:</label>
            <div class="col-md-4">
                <input class="form-control" id="phone" placeholder="Phone" type="text" ng-model="user.phone">
            </div>
        </div>
        <div class="form-group">
            <label for="passwordConfirm" class="col-md-3 control-label">Confirm password:</label>
            <div class="col-md-4">
                <input class="form-control" id="passwordConfirm" placeholder="Confirm password" type="password" ng-model="user.confirmPassword">
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-md-3 control-label">Email:</label>
            <div class="col-md-4">
                <input class="form-control" id="email" placeholder="email" type="text" ng-model="user.email">
            </div>
        </div>
        <div class="form-group">
            <label for="town" class="col-md-3 control-label">Town:</label>
            <select id="town" ng-options="town.id as town.name" ng-model="user.townId">
            </select>
        </div>
        <div class="col-md-4"></div>
        <div class="form-group">
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary" ng-click="register(user)">register</button>
            </div>
        </div>
    </form>
</div>